@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.user-posts {
    padding: 1em;
    font-family: 'Libre Baskerville', serif;
}

.user-posts h2 {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
}

.post {
    margin-bottom: 1em;
    max-width: 40em;
    border-bottom: 1px solid #333333;
}

button {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
    background: #ffffff;
    box-shadow: 0 3px 6px -5px;
    color: #333333;
    font-weight: bold;
    font-size: 1em;
}

button:hover {
    background-color: black;
    color: white;
}

a:hover {
    background-color: black;
    color: white;
}

nav a {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
    background: #ffffff;
    box-shadow: 0 3px 6px -5px;
    color: #333333;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

form {
    padding: 8px 12px;
    margin: 5px;
}

label {
    display: inline-block;
    width: 100px;
}