nav a {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
    background: #ffffff;
    box-shadow: 0 3px 6px -5px;
    color: #333333;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}